#installer {
    padding-top: 5em;

    .logo {
        text-align: center;
        margin-bottom: 3em;
    }

    .controls.top {
        display: none;
    }

    .finished {
        text-align: center;
    }
}
