{% verbatim %}
<!doctype html>

<html>

<head>
    {% include "theme::partials/metadata" %}
</head>

<body id="login" style="background-image: url({{ {% endverbatim %}image_path(random(config('{{vendor|lower}}.theme.{{slug|lower}}::design.backgrounds'))) {% verbatim %}}})">

{{ block('content') }}

{% include "theme::partials/js" %}

</body>
</html>
{% endverbatim %}
